/*  ESTILOS GENERALES */
body {
  background-color: #f8f4ef;
  font-family: 'Poppins', sans-serif;
  color: #6a5242;
  margin: 0;
  padding: 0;
}

/* ===============================
   FUENTES LOCALES
=============================== */

/* Fuente Poppins (texto general) */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Fuente Playfair Display (títulos) */
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
}



h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}



/*    NAVBAR   */
.custom-navbar {
  background-color: #f9f7f4 ;
  border-bottom: 1px solid #e6dacb;
}

.tittle-navbar {
  font-family: 'Playfair Display', serif;
  color: #6a5242;
  font-size: 1.6rem;
}

.nav-link {
  color: #6a5242;
  font-weight: 500;
  margin: 0 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #d8b47a ;
}

.btn-contacto {
  background-color: #d8b47a;
  color: white;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.btn-contacto:hover {
  background-color: #b9975b;
}

/*   HERO SECTION  */
.hero {
  position: relative;
  background-image: url('../img/joyeria.jpg');
  background-size: cover;
  background-position: center;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.hero p {
  font-size: 1.2rem;
  color: #fdfdfd;
}

/*    FRASE */
.frase p {
  font-size: 1.1rem;
  color: #6a5242;
}

/* BOTONES */
.boton-personalizado {
  background-color: #fff;
  color: #6a5242;
  border: 1px solid #e6dacb;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.boton-personalizado:hover {
  background-color: #d8b47a;
  color: white;
}

/* FOOTER  */
.footer {
  background-color: #a4845a;
  color: #fff;
  font-size: 0.9rem;
}
